<%
function convertMarkdownToHTML(text) { 
    return text.replace(/\*\*(.*?)\*\*/g, '$1');
}
%>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>homePage</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/homepage.css">
</head>
<body>
    <div id="absoulte">
    <div id="history-region">
        <i id="back-icon" class="material-icons">arrow_back</i>
        <h1>History</h1>
        <% if (locals.chats) { %>
           <% chats.forEach(chat=>{%>
           <%const htmlResponse = convertMarkdownToHTML(chat.response);%>
           <div class="historyCard">
           <h3 id="historyRequest"><%=chat.request %></h3>
           <div class="message"> <%= htmlResponse %></div>
        </div>    
        <% }) }%> 
    </div>
    
    <div id="container">
        <div id="header">
            <div class="icon-div">
                <i id="history-icon" class="material-icons">menu</i>
            </div>
            <div id="robot">
                <i id="robot-icon" class="material-icons">smart_toy</i>
                <h1>Michu</h1>
            </div>
            <div class="icon-div">
                <form action="/logout" method="post">
                    <button type="submit"><i id="login-icon" class="material-icons">logout</i></button>
                </form>
            </div>
        </div>
        <div id="body">
            <div class="message" >This is <span>Michu</span> AI what can I help you?</div>
        </div>
        <div id="prompt">
            <textarea id="text" placeholder="Ask me any thing"></textarea>
            <div id="send"><i class="material-icons">send</i></div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="/homepage.js"></script>
</body>
</html>