body {
    padding:0;
    margin:0;
    background-color: #343541;
    overflow-y: hidden;
}
#container {
    background-color: #343541;
    height:100vh;
    padding:10px;
}
#header {
    height: 10%;
    background-color: #34354190;
    border-radius: 5px;
    box-shadow:1px 1px 10px 1px #0b0b18;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width:max-content;
    max-width: 95%;
    border-bottom: solid 1px #77a1e1;
}
#body {
    height: 70%;
    overflow-y: scroll;
    padding:30px;
    padding-left: 10px;
}
#prompt {
    display:flex;
    box-sizing: border-box; 
    background-color: #343541;
    align-items: center ;
    border:solid 1px #77a1e1 ;
    border-radius: 25px;
    padding-right: 1%;
    z-index:1;
    position: absolute;
    top:88vh;
    width:95%;
    text-align: end;
}


#prompt:hover{
    border-color: aliceblue;
}
#text {
    width:90%;
    background-color: transparent;
    border: 0;
    font-family: monospace;
    font-weight: 900;
    font-size: 1.5em;
    outline: none;
    color: #f1f1f4;
    resize: none;
    vertical-align:bottom;
    border-radius: 25px;
    height: 30px;
    padding-top:10px;
    padding-left: 20px;
}

#send {
    padding:10px;
    background-color: #343541;
    border-radius: 50%;
    height: 30px;
    width:30px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow:4px 10px 30px 5px #0b0b18;
    cursor: pointer; 
}
#send>i {
    color: #77a1e1;
      
}
#robot {
    display: flex;
    color:#e07511;
}
#robot-icon {
    position: relative;
    top:12px;
    font-size :50px;
    font-weight: 8; 
}

i{
    color:#f1f1f4
}
#history-icon {
    margin: 0;
    font-size: 50px;
    cursor: pointer;
    color:#77a1e1
}
#login-icon {
    margin: 0;
    font-size: 50px;
    cursor: pointer;
    color:#77a1e1
}
#history-region{
    background-color: #2d2d2d;
    height: 100vh;
    display:none;
    box-shadow:0px 0px 20px 1px #2b2b3d;
    padding:10px;
    text-align: center;
    overflow-y: scroll;
    color: #f1f1f4;
}
.historyCard {
    background-color:  #343541;
    border-radius: 10px;
    padding:10px;
    margin:10px;
    color:#f1f1f4;
    border:1px solid #77a1e1;
    height: 60px;
    box-shadow:0px 0px 20px 1px #2b2b3d;
    text-align: start;
    cursor: pointer;
    overflow: hidden;
}


.historyCard:hover{
    border:1px solid #f1f1f4;
    transform: scale(1.01);
}

.expanded {
    height: fit-content;
}

#back-icon {
    font-size: 30px;
    cursor: pointer;
    position: relative;
    left:35%;
    top:10px;
}

.message {
    font-family:Tahoma, Verdana, Geneva, sans-serif;
    background-color: #2d2d2d;
    max-width:85%;
    margin: 10px;
    margin-bottom: 30px;
    min-width: min-content;
    color:#f1f1f4;
    padding:10px;
    border-radius: 10px;
    text-align:start;
    white-space: pre-wrap;  
    width:fit-content;
    height: fit-content;
}

strong {
    color:#e07511;
}
#right {
    position: relative;
    left:3%;
    background-color:#343541;
    box-shadow:0px 0px 20px 1px #2b2b3d;
}

#historyRequest {
    background-color:#343541;
    box-shadow:0px 0px 20px 1px #2b2b3d;
    padding:10px;
    white-space: pre-wrap; 
}

span {
    color:#e07511;
    font-weight: 700;
}
#error {
    color:red;
    border-bottom: solid 2px red;
}
.loader {
    display: flex;
    align-items: flex-end;
}

.dot {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    border-radius: 50%;
    background-color: #e07511; 
    animation: bounce 0.6s infinite alternate;
}

.dot:nth-child(2) {
    animation-delay: 0.2s;
}

.dot:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-20px);
    }
}

@media (min-width:900px) {
    #history-icon {
        display: none;
    }
    #robot{
        position:relative;
        left:-200px;
    }
    #absoulte {
        width:100%;
        background-color:#77a1e1;
        display:grid;
        grid-template-columns: 3fr 7fr;
    }
    #container{
        display: block !important;
        width:100%;
    }
    #history-region {
        display: block!important;
        background-color: #2b2b3d;
        
    }
    #back-icon{
        display: none;
    }
    #prompt {
        width:65%;
    }

}
